@use 'sass:meta';
@use 'sass:math';
@use 'sass:map';
@use 'breakpoints' as *;
@use 'tokens' as *;
@use 'colors' as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map-get($breakpoints, $size);
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error 'when using a number with @mq() make sure to include a unit';
    } @else {
      @media screen and (max-width: $size) {
        @content;
      }
    }
  } @else {
    @error 'the keyword #{$size} is not in the $breakpoints map';
  }
}

@mixin whiteText() {
  &[data-type='white'] {
    color: clr(neutral, 100);
  }
}

// @mixin fontSize($value) {
//   font-size: var(--fs-#{value});
//   @if $value > 600 {
//     line-height: 1.1;
//   }
// }

@mixin heading($fs, $color: $heading-color-default) {
  font-size: $fs;
  color: $color;
  font-family: $heading-font-family;
  text-transform: $heading-text-transform;
  letter-spacing: $heading-letter-spacing;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
}

@mixin week-day-border(){
  content: "";
    display: inline-flex;
    width: 1px;
    height: 26px;
    background-color: $color-primary-700;
}