@use '../abstracts' as *;

.even-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--grid-gap, $grid-gap);

  & > * {
    max-width: 100%;
  }

  @include mq(medium) {
    grid-auto-flow: row;
    grid-auto-row: 1fr;
  }
}
