@use '../abstracts/' as *;

.contact-form{
    label{
        display: block;
        font-weight: $form-label-font-weight;
        margin-block-end: $size-1;
    }
    input{
        font-weight: $form-input-font-weight;
        width: 100%;
        padding: $form-input-padding;
        border-radius: $form-input-border-radius;
        border: 3px solid $form-input-border-color;

        &::placeholder{
            color: $form-place-holder-text-color;
            font-weight: $form-place-holder-font-weight;
        }

        &:focus{
            outline: none;
            border-color: $form-input-border-focus-color;
        }
       
    }

    button{
        justify-self: end;
        grid-column: 1 / -1;
    }
    

}