@use '../abstracts/' as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $color-text-default;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

a {
  color: $link-color;

  &:is(hover, focus) {
    color: $link-color-hover;
  }
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

section {
  padding-block: $section-padding-block;
}
